body {
	background-color: #FFFCCA;
	font-family: sans-serif;
}

.container {
	width: 80%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: #11D3BC;

	display: flex;
}

.content {
	background-color: #11D3BC;
	padding: 10px;
	
	order: 1;
	flex-grow: 2;
	flex-basis: 66%;
}

.help-text {
	background-color: #537780;
	position: relative;
	padding: 10px;
	left: 0;

	order: 2;
	flex-grow: 1;
	flex-basis: 34%;

	-webkit-transition: left 300ms cubic-bezier(0.48, 0, 0.35, 1.22);
	-moz-transition: left 300ms cubic-bezier(0.48, 0, 0.35, 1.22);
	-ms-transition: left 300ms cubic-bezier(0.48, 0, 0.35, 1.22);
	transition: left 300ms cubic-bezier(0.48, 0, 0.35, 1.22);
}

.removed {
	left: 38%;
}

.checkbox-input {
	position: relative;
	top: 100px;
	margin-left: 50%;
}


